
<form action= "/writings_in_which/blogs/<%= blogs._id %>?_method=PUT" method="POST">


<input type="text" name="blogs[link]" value="<%= blogs.link %>">


<input type="text" name="blogs[description]" value="<%= blogs.description %>" >

<button>Submit </button

</form>

<a href="/writings_in_which/blogs">Back</a>