
<h1> Make a new blog </h1>

<form action ="/writings_in_which/blogs" method="POST">

	<input type="text" name="link" placeholder="link">
	<input type="text" name="description" placeholder="description">
	
	<button>submit</button>
	

</form>