<h1> Make a new Sticky notes </h1>

<form action="/writings_in_which/sticky_notes" method="POST">
	<input type="text" name="description" placeholder="description">
	<button>Submit</button>
	</form>

<a href="/writings_in_which/sticky_notes">	Back </a>