
<form action= "/writings_in_which/diary/<%= diary._id %>?_method=PUT" method="POST">


<input type="text" name="diary[subject]" value="<%= diary.subject %>">


<input type="text" name="diary[description]" value="<%= diary.description %>" >

<button>Submit </button

</form>

<a href="/writings_in_which/diary">Back</a>