
<h1> Make a new one </h1>

<form action ="/writings_in_which/diary" method="POST">

	<input type="text" name="subject" placeholder="subject">
	<input type="text" name="description" placeholder="description">
	
	<button>submit</button>
	

</form>